:root {
  --main-white-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  justify-content: space-evenly;
}

.trybewarts-header-logo {
  width: 4rem;
  padding: 5px 15px;
}

#trybewarts-header-title {
  color: var(--main-white-color);
}

#login-field {
  border: none;
  padding-right: 20px;
}

#email , #password , #password-button {
  border-radius: 5px;
  height: 2rem;
  width: 8rem;
  border: none;
  font-weight: 700;
}

#email , #password {
  padding: 0 8px;
  margin: 0 5px;
}

#password-button {
  background-color: rgb(75, 18, 129);
  color: var(--main-white-color);
}

#main-container , #evaluation-form {
  display: flex;
}

#main-container {
  justify-content: space-around;
  padding-top: 100px;
}

#evaluation-form {
  width: 675px;
  flex-flow: column wrap;
}

#form-title {
  text-align: center;
  margin-bottom: 30px;
}

#fieldset-1 {
  display: flex;
  border: none;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

#input-name , #input-lastname , #input-email , #house , .houses {
  border-radius: 5px;
  height: 3rem;
  width: 19rem;
  border: none;
  font-weight: 700;
  margin: 5px;
  padding: 0 8px;
  background-color: white;
}

#house-label {
  font-weight: 700;
  align-self: center;
}

#house {
  width: 17.5rem;
}

#trybewarts-forms-logo {
  height: 500px;
}

#family-section , #subject-section {
  display: flex;
  flex-direction: column;
}

#agreement-section {
  display: flex;
  flex-direction: column;
}
