:root {
  --main-white-color: whitesmoke;
  --main-purple-color: rgb(75, 18, 129);
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: whitesmoke;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  justify-content: space-evenly;
}

.trybewarts-header-logo {
  width: 4rem;
  padding: 5px 15px;
}

#trybewarts-header-title {
  color: var(--main-white-color);
}

#login-field {
  border: none;
  padding-right: 20px;
}

#email , #password , #password-button {
  border-radius: 5px;
  height: 2rem;
  width: 8rem;
  border: none;
  font-weight: 700;
}

#email , #password {
  padding: 0 8px;
  margin: 0 5px;
}

#password-button {
  background-color: var(--main-purple-color);
  color: var(--main-white-color);
}

#main-container , #evaluation-form {
  display: flex;
}

#main-container {
  justify-content: space-around;
  padding-top: 100px;
}

#evaluation-form {
  width: 675px;
  flex-flow: column wrap;
}

#form-title {
  text-align: center;
  margin-bottom: 30px;
}

#fieldset-1 , #fieldset-2 , #fieldset-3 {
  display: flex;
  border: none;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

#input-name , #input-lastname , #input-email , #house , .houses {
  border-radius: 5px;
  height: 3rem;
  width: 19rem;
  border: none;
  font-weight: 700;
  margin: 5px;
  padding: 0 8px;
  background-color: white;
}

#house-label {
  font-weight: 700;
  align-self: center;
}

#house {
  width: 17.5rem;
}

#trybewarts-forms-logo {
  height: 500px;
}

#fieldset-2 {
  justify-content: space-between;
  padding-right: 20px;
}

#radio-container , #checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}

#content-container {
  display: flex;
  flex-wrap: wrap;
}

#label-family , #label-rate {
  margin: 15px 0;
}

#frontend , #backend , #fullstack {
  border-radius: 5px;
  border: none;
  font-weight: 700;
  margin-bottom: 15px;
}

#label-content {
  margin: 15px 0;
}

.label-checkbox {
  width: 6rem;
  margin: 7.5px 0;
}

#evaluation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#coment-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

textarea {
  margin-top: 5px;
  resize: none;
  border-radius: 5px;
  border-color: var(--main-purple-color);
  padding: 5px;
}

#agreement-container {
  margin: 15px 0;
}

#submit-btn {
  border: none;
  height: 2rem;
  width: 100%;
  background-color: var(--main-purple-color);
  color: var(--main-white-color);
  font-weight: 700;
  border-radius: 5px;
}

footer {
  margin-top: auto;
  text-align: center;
  background-color: rgb(41, 41, 41);
  color: var(--main-white-color);
  font-weight: 700;
  padding: 10px 0;
}

span {
  position: relative;
  bottom: 19px;
  left: 647px;
}
